body{

}

.FAQtop-images{
    text-align: center;
}

.FAQtop-images img{
display: inline-block;
width: 12rem;
height: 11rem;
}

details{
margin: 1rem;
padding: 1rem;
width: auto;
box-shadow: 2px 2px 1px grey;
}

summary{
padding: 1rem;
    
}

summary p{
    display: inline;
    margin-left: 1rem;
}

#FAQh1{
    text-align: center;
}