*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}


.hero{
    background-image: url(../pictures/Træninghero-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 19rem;
}

.træning-Topcontent h1 {
    text-align: center;
    padding: 10px;
    color: #233780;
}

.træning-Topcontent p {
    text-align: left;
    padding: 15px;
    font-size: 12px;
}

.træning-Topcontent ul{
    font-size: 12px;
}
    
.FEP-section{
    display: flex;
    justify-content: space-around;
    text-align: center;
}


.træning-FEP h1{
    text-align: center;
}



.indmeldelseFEP{
    display: inline-block;
}

.indmeldelseFEP img{
    width: 11em;
    height: 10em;
}

.indmeldelseFEP-knap{
    background-color:#233780 ;
    color: white;
    border: none;
    width: 11rem;
    height: 3rem;
    }

.begivenhederFEP{
    display: inline-block;
}

.begivenhederFEP img{
    width: 11rem;
    height: 10rem;
  
}




/* etiketter sektion */
.etiketter h3{
    font-size: 16px;
}

.etiketter p{
    margin-left: 48px;
}

.etikoverskrift{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.etikoverskrift>h3:first-of-type {
    margin-right: 40px;
}

/* træning og etiketter video */
.træning-video {
    display: none;
}

.etiketter-video{
    width: fit-content;
}



@media screen and (min-width: 1024px) {
    
    p{ 
    font-size: 20px;}

    h3{
        font-size: 35px;
    }
    
    h1{
        font-size: 60px;
    }

   ul li{
        font-size: 20px;
    };

   

    .hero{
        height: 40rem;
        }

        .træning-Topcontent h1 {
            text-align: left;
        }

     .træning-Topcontent p{
            font-size: 20px;
            }

     .træning-Topcontent ul{
            font-size: 20px;
            }


    .indmeldelseFEP img{
        width: 450px;
        height: auto;
    }


    .begivenhederFEP img{
        width: 450px;
        height: auto;
    }

    .begivenhederFEP h1{
        text-align: center;
        }

    .indmeldelseFEP h1{
            text-align: center;
        }
    
    .FEP-section{
            display: flex;
         }

         
    aside{
        float: right;
    }

    .træning-video{
        display: inline-block;
        display: flex;
        margin: 1rem;
        width: 51rem;
        height: 29rem;

    }

   

    .Etiketter-video{
       display: none;

    }
}