*,
*::before,
*::after{
    box-sizing: border-box;
}

 

/* Hero */

 section .heroSec{
  display: flex;
  padding: 0 !important;
}

.heroDiv {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.heroDiv img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
} 

/* Intro Section */

.introImg{
  display: none;
}

/* Focused Entry Points */

section .fep{
  display: flex;
  padding: 0 !important;
}

.fepDiv {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.fepDiv img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}


.fepDiv h2{
  color: var(--blue);
  text-align: center;
  font-size: 35px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Nyhedssection */

.slider img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

figcaption{
  font-size: 12px;
  text-align: center;
}

.nyhedsH2{
  font-size: 22px;
  font-weight:bold;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.grid-news img{
  display: flex;
  max-width: 100%;
}

.grid-newsDiv .grid-news:nth-last-child(-n+2) {
  display: none;
}


@media screen and (min-width: 1024px){

 

  
  /* Intro */
  .grid2 {
    columns: 2; /* Set the number of columns */
}

.intro,
.intro2 {
    break-inside: avoid-column; 
    page-break-inside: avoid; 
    width: 100%; 
}

.introImg {
    max-width: 100%;
    padding-top: 6.8rem;
}


.introImg {
    max-width: 100%; 
}


  p{
    font-size: 20px;
  }

  .fepDiv h2{
    font-size: 50;
  }
 
  .heroSec{
     section .heroSec{
    display: flex;
    padding: 0 !important;
    
  }

  .heroDiv {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .heroDiv img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
  } 
  }

  .introImg{
    
    display: inline-block;
    
    width: 42rem;
    height: 30rem;
    

  }
  /* 3Grid Focused Entry Points */

  .grid3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .fep {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .introImg {
    display: flex;
  }

  .fepDiv {
    text-align: center;
  }
  
/* Nyhedssektion */

.nyhedsH2{
  font-size: 60px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.grid-newsDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.grid-news {
  text-align: center;
}

.grid-news img {
  max-width: 100%;
  height: auto;
}

.grid-news p{
  text-align: center;
  font-size: 20;
}

/* -n+2 Sørger for at vi kan target de 2 sidste billeder, da -n er den bagerste i rækken */

.grid-newsDiv .grid-news:nth-last-child(-n+2) {
  display: grid;
}

}
