*,
*::before,
*::after{
    box-sizing: border-box;
}

 

/* Hero */

section .heroSec{
  display: flex;
  padding: 0 !important;
}

.heroDiv {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.heroDiv img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Focused Entry Points */

section .fep{
  display: flex;
  padding: 0 !important;
}

.fepDiv {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.fepDiv img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.fepDiv h2{
  color: var(--blue);
  text-align: center;
  font-size: 35px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Nyhedssection */

.slider img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

figcaption{
  font-size: 12px;
  text-align: center;
}