
button{
    background: var(--blue);
    color: white;
}

main{
    justify-items: center; 
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5rem;
}

article{
    text-align: center;
}

p{
    margin: 0px 0px 1rem 0px;
}

button{
    width: 50%;
    height: 20%;
    border: none;
}

footer{
    margin-top: 5rem;
}


@media screen and (min-width:1024px){
    main{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        /* justify-content: center; */
    }
    article{
        justify-self: center;
    }
    main>article:first-of-type{
        grid-column: 1;
    }
    main>article:last-of-type{
        grid-column: 3;
    }
    main>article:nth-of-type(2){
        grid-column: 2;
    }
    button{
        height: 10%;
    }
    p{
        text-align: center;
    }
    main img{
        max-width: 100%;
        height: auto;
    }
    
}