@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Poppins:wght@100;400;700&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --blue: #233780;
    --red: #E41F27;
    --stdPadding: 0px;
    --stdMargin: 0px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

section{
    padding: 1rem;
}


h1{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center;
}

h2{
    font-size: 22px;
    font-weight:400;
    font-family: 'Lato', sans-serif;
}


p{
    font-size: 12px;
    text-align: left;
    font-family: 'Lato', sans-serif;
}

ul li {
    font-size: 12px;
      text-align: left;
      font-family: 'Lato', sans-serif;
  }

i{
    color: white;
}

/* Nav */

nav{
    display: none;
    line-height: 25px;
}

nav ul{
    display: flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    align-items: center;
    margin: 1.5;
    padding: 1rem;
    background-color: var(--blue);
    z-index: 9000;
}

.navbar a{
    max-width: 50%;
}

.navbar .logo{
    width: 100%;
}

.iconNav {
    display: flex;
}

.iconNav i{
    padding: 1rem;
}


/* Button */
.btnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    left: 50%;
    transform: translateX(50%);
    
}

.button {
    display: block;
    padding: 1rem 2.5rem;
    background-color: var(--blue); 
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 2rem;
    margin-top: 0;
}

/* Footer */
footer{
    background-color: var(--blue);
    text-align: left;
}

.foot{
    color: white;
    margin: 1.5rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.foot h3{
    font-size: 16px;
}

.foot a{
    width: 25%; 
    display: flex;
    align-items: center;;
}

.foot .logo{
    width: 100%;
    height: auto;
    }

.foot i{
    font-size: 30px;
    padding-right: 2rem;
}


@media screen and (min-width: 1024px){
    
/* Nav */

h1{
    font-size: 60px;
    text-align: left;
}

h2{
    font-size: 35px;
}

p{
    font-size: 20px;
}

ul li {
    font-size: 20px;
      text-align: left;
      font-family: 'Lato', sans-serif;
  }

  .button{
    font-size: 20px;
  }

.navbar .logo{
    width: 40%;
}

section{
    padding: 2rem;
}


nav{
    display: flex;
    justify-content: space-between;
    color: white;
}

nav li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

nav ul{
    text-decoration: none;
}

nav li a:hover{
    transition: all 0.3s ease 0s;
    color: var(--red);
}

nav li{
    display: inline-block;
    text-decoration: none;
    padding: 0px 10px;
}

.navbar i{
    display: none;
}

/* Footer */

}

