*,
*::before,
*::after{
    box-sizing: border-box;
}

 

/* Hero */

section .heroSec{
  display: flex;
  padding: 0 !important;
}

.heroDiv {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.heroDiv img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Intro Section */

.introImg{
  display: none;
}

/* Focused Entry Points */

section .fep{
  display: flex;
  padding: 0 !important;
}

.fepDiv {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.fepDiv img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.fepDiv h2{
  color: var(--blue);
  text-align: center;
  font-size: 35px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Nyhedssection */

.slider img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

figcaption{
  font-size: 12px;
  text-align: center;
}

.grid3 .nyhedsSec:nth-last-child(-n+2) {
  display: none;
}


@media screen and (min-width: 700px){

  
  /* Intro */
  .grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
}


.introImg {
    max-width: 100%; 
}



  /* 3Grid Focused Entry Points */

  .grid3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .fep {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .introImg {
    display: flex;
  }

  .fepDiv {
    text-align: center;
  }
  
/* Nyhedssektion */


.nyheder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nyhedsSec {
  margin-bottom: 20px; /* Adjust as needed for spacing between pictures */
}


/* -n+2 Sørger for at vi kan target de 2 sidste billeder, da -n er den bagerste i rækken */

  .grid3 .nyhedsSec:nth-last-child(-n+2) {
    display: grid;
  }

}