img{
    display: block;
    margin: auto;
}
p{
    padding: 0px 36px 0px 36px;
    /* font-size: 20px; */
}
.utility{
    padding: 0px 21px 0px 21px;
}
.spacing{
    padding-bottom: 4rem;
}
.desktoptext{
    display: none;
}
.desktopbillede{
    display: none;
}


@media screen and (min-width:1024px)
{
    /* Display none bruges til at gemme det vi ikke skal bruge længere */
    /* Afstand mellem nyheder header og selv artiklens */
    .headerSpacing{
        padding-bottom: 4rem;
    }
    .mobilbillede{
        display: none;
    }
    .spacing{
        display: none;
    } 
    p{
        padding: 0px;
    }
    .desktoptext{
        display: block;
    }
    #noauto{
        display: inline;
        margin: 0;
        max-height: 461px;
    }
    p{
        max-width: 70ch;
        font-size: 20px;
    }
    .wrapper{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        gap: 1rem;
    }
    /* Billedet bliver responsiv */
    img{
        max-width: 100%;
        height: auto;
    }
    .utility{
        padding: 0px;
    }
    .desktopbillede{
        display: inline;
    }
}