
section>article:last-of-type>ul>li i{
    color: red;
}

/* Styling af social media links */
section:first-of-type>article:first-of-type>ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
    gap: 0.5rem;
}
.desktopbillede{
    display: none;
}
.desktopText{
    display: none;
}


/* Sikre at tekster er mellem de 45-75 karaktere*/
section:nth-of-type(2)>article p,section:first-of-type>article>p{
    width: 51ch;
}

section:last-of-type>article p{
    width: 46ch;
}


/* Styling af bælte system */
section:nth-of-type(3){
    gap: 2rem;
    display: grid ;
    grid-template-columns: 1fr;
}

section:nth-of-type(3)>article{
    display: flex;
}

section:nth-of-type(3)>article p{
    align-self: center;
}
span{
    display: block;
    padding-top: 10px;
}

video{
    width: 430px;
    height: 245px;
}


@media screen and (min-width:1024px)
{
    p{
        font-size: 20px;
    }
    section:first-of-type img{
        display: inline;
    }
    .desktopbillede{
        display: inline;
        justify-self: end;
    }
    .mobilepicture{
        display: none;
    }
    .mobiletext{
        display: none;
    }
    .desktopText{
        display: block;
    }
    .layout{
        display: grid;
        grid-template-columns: repeat(2,1fr)
        
    }
    .wrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
    }
    video{
        width: 100%;
        object-fit: cover;
        height: 100%;
        padding-right: 1rem;

    }

    section:nth-of-type(3)>article{
        flex-direction: column;
    }
    section:nth-of-type(3)>article img{
        /* width: 536px;
        height: 406px; */
        align-self: center;
    }
    section:nth-of-type(3){
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: end;
        gap: 2rem;
    }

    section:nth-of-type(3)>article:nth-of-type(2){
        grid-column: 2;
    }

    section:nth-of-type(3)>article:nth-of-type(3){
        grid-column: 3;
    }

    section:nth-of-type(3)>article:last-of-type{
        grid-row: 3;
        grid-column: 2;
    }

    section:last-of-type>article p{
        width: 47ch;
    }

    section:nth-of-type(2)>article p:first-of-type{
        width: 56ch;
    }
    section:nth-of-type(2)>article p:nth-of-type(2){
        width: 57ch;
    }
    section:nth-of-type(2)>article p:nth-of-type(2){
        width: 57ch;
    }
    section:nth-of-type(2)>article p:nth-of-type(3){
        width: 59ch;
    }
    section:nth-of-type(2)>article p:last-of-type{
        width: 58ch;
    }

    iframe{
        padding: 1rem;
        width: 1640px;
        height: 760px;
    }
    
}
